* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

:root {
  --white: #ffffff;
  --babyblue: #a0b4e0;
  --salmon: #f2ac9c;
  --yellow: #f8d774;
  --darkblue: #030439;
  --brightblue: #3b73da;
  --green: #8bc28d;
}

body {
  background-color: var(--white);
  color: var(--darkblue);
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

.dark-mode {
  background-color: var(--darkblue);
  color: var(--white);
}

h1 {
  font-family: 'Shrikhand', 'Times New Roman', Times, serif;
  font-weight: 600; 
  font-style:normal;
  font-size: xx-large;
  font-size: calc(2em + .1vw);
}

h2, h3, h4, ul, p, a {
  font-family: 'Rubik', sans-serif;
}

h2 {
  width: 100%;
  font-size: x-large;
  font-size: 1.5em;
}

h3 {
  font-weight: 500;
  font-size: large;
  font-size: 1.25em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size:inherit;
}

p {
  font-size:medium;
  font-size: 1em;
}

.description-container {
  text-align: center;
  padding: 30px 500px 30px 500px;
  width: 100%;
}

a {
  color: var(--darkblue);
}



/* CURSOR */

html {
  /* cursor: url('../cursor/pointer-blue.svg'), auto; */
}
/* 
a:hover {
  cursor: url('../cursor/pointer-blue.svg'), auto;
}

a.button:hover {
  cursor: url('../cursor/pointer-pink.svg'), auto;
} */

/* NAVBAR */

.navbar a {
  /* text-decoration: none; */
  font-size: x-large;
  font-size: 1em;
  background: var(--white);
}

.navbar {
  position: -webkit-sticky;
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  z-index: 100;
  display: flex;
}

.navbar > div {
  flex: 50%;
  max-width: 50%;
}

.logo {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo img{
  height: 80px;
  object-fit: contain;
}

.color-mode {
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 25px;
}

.c-button {
  float: right;
  height: 50px;
  object-fit: contain;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.color-mode img {
  float: right;
  height: 50px;
  object-fit: contain;
}

.nav-items {
  margin-top: 32px;
  text-align: right;
  float: right;
  height: 50px;
  object-fit: contain;
  margin-right: 50px;
}

.nav-items div{
  display: inline;
}

.nav-items a {
  display: inline-block;
  float: none;
  padding: 15px;
  border: none;
  text-decoration: none;
}


.nav-items a:hover {
  text-decoration: underline;
  
  text-decoration-thickness: 4px;
}

.design-nav a:hover {
  text-decoration-color: var(--salmon);
}

.illustration-nav a:hover {
 text-decoration-color: var(--babyblue);
}

.games-nav a:hover {
 text-decoration-color: var(--green);
}

footer img {
  bottom: 0;
}

footer {
  position: absolute;
  
}

/* FEATURED WORKS SECTION  */

.featworks-heading {
  text-align: center; 
  width: 100%;
  margin: 50px 0 30px;
}

.featworks {
  display: flex;
  margin: 0 100px 0 100px;
}

.featworks-column {
  flex: 50%;
  max-width: 50%;
}

.featworks-img {
  position: relative;
}

.featworks > div > div > a > img{
  width: 100%;
  padding-bottom: 25px;
}

.featworks > div > div > a > img:hover{
  width: 105%;
  transition: 0.3s ease;
}

/* SURPRISE ME Button */

.s-button {
  border:0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border-bottom: 5px solid var(--darkblue);
  transition: 0.3s;
  background-color: var(--brightblue);
  cursor: pointer;
}

.s-button p {
  transform: translateY(-10px);
}

.s-button:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

/* FOOTER */
footer {
  font-family: Rubik, sans-serif;
  font-size: small;
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

/* CONTENT */
.content {
  padding: 30px 22px 50px 22px;
}

/* FLEX WRAP */

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  margin: 75px 200px 0 200px;
}

.column-2 {
  flex: 50%;
  max-width: 50%;
}

.column-2 > img {
  padding: 10px;
}

.column-3 {
  flex: 33.33%;
  max-width: 33.33%;
}

.column-3 > div, .column-3 > img {
  padding: 10px;
}

.column-6 {
  flex: 16.66%;
  max-width: 16.66%;
}

.column-6 > div, .column-6 > img {
  padding: 10px;
}

/* BUTTON  */
.button-container {
  margin:35px 15px 35px 0;
  display: block;
}
a.button {
  background-color: var(--brightblue);
  width: 100%;
  cursor: pointer;
  transition: .3s;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  color: var(--white);
  font-size: large;
  font-size: calc(1em + .1vw);
  font-family: 'Rubik', sans serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

a.button:hover {
  background-color: var(--green);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 85px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--babyblue);
}

.modal-content {
  position: relative;
  background-color: var(--babyblue);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: var(--darkblue);
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 35px;
  font-weight:500;
}

.close:hover,
.close:focus {
  transition: .2s;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top:0;
  padding: 25px;
  margin-top: -70px;
  color: var(--darkblue);
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

/* HOVER DESIGN OR ILLUSTRATION GALLERY IMAGE */
img.gallery {
  box-shadow: none;
  transition: .2s ease;
}

.column-4 {
  flex: 25%;
  max-width: 25%;
}

.column-4 > img {
  padding: 10px;
}

.column-4 > div {
 margin: 10px;
}

.column-2 > a > img {
  /* padding: 5px;
  transition: .2s ease;
  box-sizing: none; */

}
.column-2 > a > img:hover {
  /* background-color: #ff9eff;
  box-shadow: 0px 0px 0px 1px #ff9eff,; */
  /* cursor: url('../cursor/pointer-pink.svg'), auto; */
}

/* TAGS */
.tags {
  font-size: inherit;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  margin: 5px;
  background-color: var(--babyblue);
  padding: 4px 8px 4px 8px;
  border-radius: 25px;
}

#banners-draft {
  width: 50%;
}

#corn-gif {
  width: 20%;
}

/* FOOTER NAV  */
.footer-nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.footer-nav a {
  text-decoration:dotted;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  margin: 10px;
  scale: 1;
  transition: .2s;
  display: block;
}

.footer-nav a:hover {
  scale: 1.075;
}

.footer-nav h4 {
  padding-top: 35px;
}

.description-container {
  padding: 20px 150px 20px 150px;
  
}




.card {
  transition: .2s ease;
  box-sizing: none;
  border-radius: 15px;
  border: 2px var(--darkblue) solid;
  scale: 1;
}

.card a {
  text-decoration: none;
}
.card-text-container {
  padding-left: 16px;
  margin:8px;
}

.card img {
  border-radius: 13px 13px 0 0;
}

.card:hover {
  scale: 1.05;
}


/* PHONE */

@media (max-width: 715px) {
  .navbar-items a {
    margin-top: 0;
  }
  .nav-items {
    margin-top: 24px;
  }
  .navbar {
    height: 200px;
  }

}


















/* BORDER EFFECT */
/* .column-2 > img, .column-3 > img, .column-4 > img {
  border-color: #1e1cac;
  border-width: 5px;
  border-radius: 5px;
} */