@font-face {
    font-family: Omari;
    src: url(assets/fonts/Omari.otf);
}

body {
    background-color: #ffe8ff;
    color: #1e1cac;
    overflow: auto;
}

/* img {
    max-width: 75%;
    max-height: 75%;
} */

h1 {
    font-family: Omari, 'Times New Roman', Times, serif;
    font-size:xx-large;
}

ul {
    font-family: Rubik, sans-serif;
    list-style-type: none;
    padding-left: 0;
    
}

a {
    font-family: Rubik, sans-serif;
    text-decoration: none;
    display: block;
}

.navbar a, .footer a {
    transition-duration: .3s;
    background-color: #ffe8ff;
}
.navbar a:hover, .footer a:hover {
    background-color: #ff9eff ;
}

/* NAVBAR-TOP */

.navbar {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    background-color: #ffe8ff;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: block;
    padding: 35px;
}
.design {
    float: left;
}

.heading {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.illustration {
    float: right;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  
  }



/* FOOTER */

.footer {
    position: -webkit-sticky;
    position: fixed;
    bottom:-17;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffe8ff;
    display: inline-flex;
}

.footer li {
    display: block;
    padding: 35px;
}

.resume {
    position: absolute;
    right: 0;
}

.footer-info {
    font-size: small;
    /* bottom: 0; */
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    justify-content: center;
}

.footer-info li {
    margin: 0;
}

/* CONTENT */


/* ABOUT */
.content {
    margin-bottom: 100px;
    margin-top: 85px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.lisa-img img {
    width: 50vw;
}

.about-info {
    padding-left: 35px;
}
.about-info p {
    font-family: Rubik, sans-serif;
 }

 h2 {
    font-family: Rubik, sans-serif;
 }

 @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .content {
        margin-top:110px;
        flex:100%;
    }
    .lisa-img img {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
    }
    .about-info {
        padding-right: 0px;
        padding-left: 0px;
    }
    
  }

  /* DESIGN HOMEPAGE */
  .flex-wrap-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    }
   
.flex-wrap-container > div {
    /* background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; */
    /* flex-grow: 1; */
  }

