body {
  background-color: #ffe8ff;
  color: #1e1cac;
  overflow: auto;
}

h1 {
  font-family: 'Shrikhand', 'Times New Roman', Times, serif;
  font-weight: 600; 
  font-style:normal;
  font-size: xx-large;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

ul {
  font-family: 'Rubik', sans-serif;
  list-style-type: none;
  padding-left: 0;
}

p {
  font-size: larger;
  font-family: 'Rubik', sans-serif;
}

a {
  font-family: 'Rubik', sans-serif;
  color: #1e1cac;
}
/* COME BACK TO THIS */
.hr {
  border-bottom: 4px solid #ff9eff;
  width: 100%;
}
.hr-padding {
  width: 100%;
  padding: 15px;
}

/* EMAIL */

a.email {
  color: #1e1cac;
  text-decoration-color: #ff9eff;
  transition-duration: .3s;
  text-decoration-thickness: 4px;
}

a.email:hover {
  color: #ff9eff;
}


/* CURSOR */

html {
  cursor: url('../cursor/regular.svg'), auto;
}

a:hover {
  cursor: url('../cursor/pointer-blue.svg'), auto;
}

a.button:hover {
  cursor: url('../cursor/pointer-pink.svg'), auto;
}

/* NAVBAR FOOTER ANIMATION */

.navbar a, .footer a {
  display: block;
  text-decoration: none;
  font-size: x-large;
}
.navbar a, .footer a {
  transition-duration: .3s;
  background-color: #ffe8ff;
}
.navbar a:hover, .footer a:hover {
  background-color: #ff9eff;
}

.heading a:hover {
  background-color: #ffe8ff;
}


/* NAVBAR */

.navbar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  background-color: #ffe8ff;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar li {
  display: block;
  padding: 20px 35px 20px 35px;
}
.design {
  float: left;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.illustration {
  float: right;
}

/* FOOTER */
.footer {
  position: -webkit-sticky;
  position: fixed;
  bottom:-17;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffe8ff;
  display: inline-flex;
}

.footer li {
  display: block;
  padding: 20px 35px 20px 35px;
}

.resume {
  position: absolute;
  right: 0;
}

.footer-info {
  font-size: small;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  justify-content: center;
}

.footer-info li {
  margin: 0;
}

.footer-info a {
  font-size: small;
}

/* ABOUT */
.lisa-img, .about-info {
  padding: 15px;
}

.about-info p {
  font-family: 'Rubik', sans-serif;
}

/* CONTENT */

.content {
  padding: 50px 22px 50px 22px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}


.column-2 {
  flex: 50%;
  max-width: 50%;
}

.column-2 > img {
  padding: 5px;
}


/* FLEX WRAP */
* {
  box-sizing: border-box;
}

.column {
  flex: 33.33%;
  max-width: 33.33%;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 300px 0 300px; */
}
   
.column > div {
  padding: 5px;
}

.column > img {
  padding: 5px;
}


/* BUTTON  */
a.button {
  background-color: #ff9eff;
  border: 4px #1e1cac;
  border-style: solid;
  width: 100%;
  cursor: pointer;
  transition: .3s;
  padding: 10px 0 10px 0;

  color: #1e1cac;
  font-size: large;
  font-family: 'Rubik', sans serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

a.button:hover {
  background-color: #1e1cac;
  color: #ff9eff;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffe8ff;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: #1e1cac;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight:500;
}

.close:hover,
.close:focus {
  transition: .2s;
  color: #ff9eff;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top:0;
  padding: 15px;
  margin-top: -70px;
  color: #1e1cac;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #ff9eff;
}

/* HOVER DESIGN OR ILLUSTRATION GALLERY IMAGE */
img.gallery {
  box-shadow: none;
  transition: .2s ease;
}

img.gallery:hover {
  box-shadow: 0px 0px 0px 10px #ff9eff;
  cursor: url('../cursor/pointer-pink.svg'), auto;
}

.column-4 {
  flex: 25%;
  max-width: 25%;
}

.column-4 > img {
  padding: 10px;
}


.column-4 > div > img,  .column-4 > a > img  {
  padding: 10px;
  transition: .2s ease;
  box-sizing: none;
}
.column-4 > div > img:hover,  .column-4 > a > img:hover  {
  background-color: #ff9eff;
  box-shadow: 0px 0px 0px 1px #ff9eff;
  cursor: url('../cursor/pointer-pink.svg'), auto;
}


.column-2 > a > img {
  padding: 5px;
  transition: .2s ease;
  box-sizing: none;
}
.column-2 > a > img:hover {
  background-color: #ff9eff;
  box-shadow: 0px 0px 0px 1px #ff9eff;
  cursor: url('../cursor/pointer-pink.svg'), auto;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #ffe8ff; 
}

::-webkit-scrollbar-thumb {
  background: #1e1cac; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* MOBILE */

@media (max-width: 1300px){
  .column-4 {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 700px) {
  .column-4 {
    flex: 100%;
    max-width: 100%;
  }
  .column-2 {
      flex: 100%;
      max-width: 100%;
  }

  .lisa-img, .about-info {
      padding-bottom: 0px;
  }

  .slow-columns-2 {
    flex: 50%;
    max-width: 50%;
  }
  .navbar a {
    float: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    font-size: large;
  }
  .footer a {
    font-size: large;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .flex-wrap-container {
      margin: 0;
  }
  h1 {
    font-size: x-large;
    margin: 10px;
  }
  .footer-info, .footer-info a {
    font-size: x-small;
  }
  .content {
    padding: 50px 0 0 0;
  }
}