@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap");
* {
  color: #363636;
}

h1 {
  font-family: Shrikhand;
  font-weight: 400;
}

h2, h3, h4, h5, h6, button {
  font-family: Fredoka;
  font-weight: 600;
}

h2 {
  font-size: 150%;
}

h3, h4, h5, h6 {
  font-size: 120%;
}

button {
  font-size: medium;
}

p {
  font-family: Rubik;
  font-size: medium;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  width: 70%;
}

svg {
  display: flex;
  color: #E90063;
}

.navbar-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin: 0.75% 0.75% 0 0.75%;
}

.nav-elements {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin: 0vw 0vw 0vw 25vw;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.nav-element {
  background-color: #E90063;
  border-radius: 50px;
  height: 75%;
}

.nav-text {
  font-family: Fredoka;
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 10px 0px 10px 0px;
}

.nav-element:hover {
  background-color: #FFD2A7;
  transition: 0.25s;
}

.nav-text.selected {
  color: #E90063;
}

Link {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.footer-container {
  margin: 0;
  margin-top: 0.75%;
  position: fixed;
  width: -webkit-fill-available;
  left: 0;
  bottom: 0;
  color: #E90063;
  background-color: #FFD2A7;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 0 0.75% 0 0.75%;
}

.social-icons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  -moz-column-gap: 3px;
       column-gap: 3px;
  justify-content: left;
  fill: #E90063;
  align-items: center;
}

.footer-text {
  font-family: Fredoka;
  font-weight: 500;
  padding: 0;
  text-align: center;
  color: #E90063;
  font-size: medium;
}

.footer-archive {
  font-family: Fredoka;
  font-weight: 600;
  color: #E90063;
  padding: 0;
  text-align: right;
  font-size: medium;
}

.loading-container img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.home-container {
  height: -webkit-fill-available;
  margin: 0 0.75% 0.75% 0.75%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.home-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 82vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #FFFFFF;
}

.img-container {
  position: relative;
  width: 100%;
}

.img-container:hover .overlay {
  opacity: 1;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.img-container h2 {
  font-family: Rubik;
  font-weight: 600;
  font-style: italic;
  font-size: xx-large;
  position: block;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.about-container img {
  max-width: 640px;
  width: 150%;
  height: 150%;
  flex: 50%;
}

@media (max-width: 650px) {
  .about-container img {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }
  .about-container {
    max-width: 100%;
    flex-direction: column;
  }
}
.about-container {
  margin: 0 0.75% 0 0.75%;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.about-img {
  padding-top: 5%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.about-text {
  flex: 50%;
}

.about-container h2, h3 {
  color: #FF9C42;
}/*# sourceMappingURL=style.css.map */