@use "colors";

.footer-container {
    margin: 0;
    border: 5px solid colors.$pink;
    position: fixed;
    width:-webkit-fill-available;
    left: 0;
    bottom: 0;
    color: colors.$pink;
    background-color: colors.$light_orange;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

}

.social-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 3px;
    justify-content: left;
    color: colors.$pink;
    align-items: center;
    // justify-content: center;
}

.footer-text {
    font-family: Fredoka;
    font-weight:500;
    padding: 0;
    text-align: center;
    color: colors.$pink;
    font-size: medium;
}

.footer-archive {
    font-family: Fredoka;
    font-weight:600;
    color: colors.$pink;
    padding: 0;
    text-align: right;
    font-size: medium;
}