@use "colors";

.logo {
    display: flex;
    width: 70%;
    // justify-content: center;
    // margin-left:10%;
}

svg {
    display: flex;
    color: colors.$pink;
}

// .navbar {
//     border-width: 0px 0px 2px 0px;
//     border-style: solid;
// }

.navbar-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    // margin: 1.5%;
    
}

.nav-elements {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    margin: 0vw 0vw 0vw 25vw;
    column-gap: 10px;
}

.nav-element {
    background-color: colors.$pink;
    border-radius: 50px;
    height: 75%;
}

.nav-text {
    font-family: Fredoka;
    font-weight: 500;
    color:colors.$white;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 10px 0px 10px 0px;
}

.nav-element:hover {
    background-color: colors.$light_pink;
}

.nav-text.selected {
    color: colors.$pink;
}

// .nav-element button {
//     width:40%;
//     height: 100%;
//     min-width: fit-content;
//     // border-radius: 15%;
//     background-color: colors.$invisible;
//     border-width: 0px;
//     cursor: pointer;
// }

// .nav-element button::after {
//     color: colors.$light_pink;
// }

// .nav-element button::selection {
//     color: colors.$pink;
// }

Link {
    display: flex;
    justify-content: center;
    align-items: center;
}