@use "../globals/colors";

img {
    max-width: 300px;
    width:70%;
    height: 70%;
    border-radius: 10px;
    // height:25%;
    flex: 50%;
}

@media (max-width: 650px) {
    img {
        width:100%;
        height: 100%;
        max-width: 600px;
    }
    .about-container {
        max-width: 100%;
        flex-direction: column;
    }
    
}

.about-container {
    // margin: 2% 13% 4% 13%;
    display: flex;
    gap: 48px;
    max-width: 90%;
    // grid-template-columns: auto auto;
    // grid-template-rows: auto;
    flex-direction: row;
}

.about-img {
    padding-top: 5%;
    max-width: fit-content;
}

.about-text {
    // box-sizing: border-box;
    flex: 50%;
}

.about-container h2, h3 {
    color: colors.$orange;
}