@use "../globals/colors";

img {
    
    width:85%;
    border-radius: 10px;
    // height:25%;
}

.about-container {
    margin: 2% 15% 4% 15%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.about-img {
    padding-top: 5%;
    max-width: fit-content;
}

.about-text {
    padding-right: 10%;
}

.about-container h2, h3 {
    color: colors.$orange;
}