@use "../globals/colors";

// .home-container {
//     height: -webkit-fill-available;
//     margin: 0.75%;
//     display: flex;
//     flex-wrap: wrap;
//     align-content: flex-start;
//     justify-content: space-between;
// }

// .home-container img {
//     height: 100%;
//     width: 100%;
//     max-width:300px;
// }

// .link-container {
//     flex-grow: 1;
//     flex-basis: 125px;
//     max-width: 300px;
//     margin: 5px;
// }

.home-container {
    height: -webkit-fill-available;
    margin: 0 10% 0% 10%;
    // margin-top: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    // grid-template-rows: auto auto;
}

.home-container img {
    object-fit: cover;
    object-position: center;
    // height: 82vh;
    // width: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: colors.$white;
    // max-width: 400px;
    // width:150%;
    // height: 150%;
    // flex: 50%;
}

.img-container {
    position: relative;
    width: 100%;
  }
  

.img-container:hover .overlay {
    opacity: 1;
    // width: 200%;
}

.thumbnail {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .img-container h2 {
    font-family: Rubik;
    font-weight: 600;
    font-style: italic;
    font-size:xx-large;
    position: block;
    text-align: center;
    
    margin: 0;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    // right: 0;
    // left: 0;
    // top: 0;
    // bottom: 0;
    // margin: auto;
  }

  .hello-text {
    text-align: center;
    padding: 1.5em;
  }
  .hello-text h1 {
    color: colors.$pink;
  }

  .hello-text h1, h2 {
    margin: 0.4em;
  }