@use "../globals/colors";

.work-container {
    margin: 0 10% 0% 10%;
}

.work-container img {
    display: block;
    margin: auto;
}

.work-container p {
    padding: 0 5vw 0 5vw;
}

.tags {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    display: grid;
    padding: 1.5em 0 1.5em 0;
    
}

.tag-element {
    justify-content: center;
    text-align: center;
}

.tag-element p {
    line-height:normal;
}

// .tags ul, li {
//     list-style-type: none;
//     list-style: none;
//     text-align: center;
//     justify-content: center;
// }